fastapi==0.111.0
uvicorn==0.30.1
mangum==0.17.0
pydantic==2.7.4
annotated-types==0.6.0
typing-extensions==4.12.0
boto3==1.34.144
SQLAlchemy==2.0.32
asyncpg==0.29.0
fastapi-limiter==0.1.6
redis==5.0.7
SQLAlchemy>=2.0
asyncpg
